/core

/docker/certs/*
!/docker/certs/.gitkeep

/docker/mysql/*

/sites/all/libraries/*
!/sites/all/libraries/.gitkeep

/sites/all/modules/*
!/sites/all/modules/.gitkeep

/sites/all/themes/*
!/sites/all/themes/.gitkeep

/sites/default/*settings.php
/sites/default/files/*
!/sites/default/files/.gitkeep

/.env
